<% for(var i=0; i<wines.length; i++){%>
<tr>
    <td><%= i+1 %></td>
    <td><%= wines[i].name %></td>
    <td><%= wines[i].type %></td>
    <td><%= wines[i].year %></td>
    <td><%= wines[i].country %></td>
    <td><%= wines[i].region %></td>
    <td><%= wines[i].price %></td>
    <td>
        <a href="/update-wine?id=<%= wines[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-edit"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= wines[i]._id%>>
            <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
        </a>
    </td>
</tr>
<% } %>